.card {

  width: 320px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cardHeader {
  width: 320px;
  height: 220px; /* Aumentamos la altura para dar más espacio a la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
}

.cardImage {
  width: 320px;
  height: auto;
 /* object-fit: cover;
  object-position: center;*/
  cursor: pointer;
}

.cardBody {
  padding: 16px;
  text-align: center;
}

.cardTitle {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.cardFooter {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.cardButton {
  padding: 6px 12px;
  background-color: #eff4ff;
  color: #333;
  border: 1px solid #dbe6fe;
  border-radius: 11px;
  font-size: 12px;
}
