.ticTacToeContainer{
    display: flex;
    flex-direction: row;
    width: 524px;
    justify-content: space-around
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

button {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    width: 110px;
}

.reset {
    background-color: #B91C1C;
    padding: 12px 16px;
}

.movesContainer {
    position: absolute;
    top: 56px;
}

.buttonsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.buttonMove {
    background-color: #3B76F6;
    padding: 8px 12px;
}