.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 32px;
}

.searchForm {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
  height: 32px;
}

.searchInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.searchButton {
  /* padding: 10px 20px; */
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;

  border-radius: 4px;
  cursor: pointer;
}

.pokemonCard {
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;

  border: 1px solid;
}

.pokemon-stats {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.stat {
  display: flex;
  align-items: center;
}

.stat img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.favoriteButton {
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  width: 216px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid #3b76f6;
  display: flex;
  padding: 4px 8px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: fit-content;
}
.isFavorite {
  color: #007bff;
}
.favoriteLabel {
  color: #007bff;
}
