.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 32px;
  justify-content: center;
}

.searchForm {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
  height: 32px;
}

.searchInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.searchButton {
  /* padding: 10px 20px; */
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;

  border-radius: 4px;
  cursor: pointer;
}

.noFound{
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  width: 216px;
  display: flex;
  align-items: center;
  border: 1px solid #3b76f6;
  padding: 4px 8px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: #3b76f6;
}

.pokemonCard {
  border-radius: 10px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.pokemonStats {
  display: flex;
  justify-content: space-evenly;
  width: 251px;
  margin: 15px 0;
}

.statFooter {
  display: flex;
  flex-direction: column;
}

.statFooter p {
  font-size: 12px;
  color: #64748B;
  font-weight: 600;
}

.stat {
  display: flex;
  align-items: center;
  gap: 8px;
}

.stat span {
  font-size: 12px;
  color: #0F172A;
  font-weight: 600;
}

.stat img {
  width: 20px;
  height: 20px;
}

.favoriteButton {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  width: 216px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid #3b76f6;
  display: flex;
  padding: 4px 8px;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.isFavorite {
  color: #007bff;
}
.favoriteLabel {
  color: #007bff;
}
